<p-toolbar>
    <div class="p-toolbar-group-start">
        <botao-novo></botao-novo>
    </div>
</p-toolbar>
<p-divider></p-divider>
<p-card class="fluid">
    <p-table [value]="pacientes" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paciente>
            <tr>
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.telefone}}</td>
                <td>
                    <botao-editar [icone]="true" [objectId]="paciente.id" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
