<p-toolbar>
    <div class="p-toolbar-group-start">
        <botao-novo></botao-novo>
    </div>
</p-toolbar>
<p-divider></p-divider>
<p-card class="fluid">
    <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Último Login</th>
                <th>Temporário</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{ usuario.pessoa.nome }}</td>
                <td>{{ usuario.login }}</td>
                <td>{{ usuario.ultimoLogin | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ usuario.indicadorUsuarioTemporario | simNao }}</td>
                <td>
                    <p-tag
                        class="cursor-pointer"
                        (click)="ativarInativarUsuario(usuario)"
                        [value]="usuario.ativo  ? 'Ativo' : 'Inativo'"
                        [severity]="usuario.ativo ? 'info' : 'danger'"
                        [pTooltip]="'Clique para ' + (usuario.ativo ? 'inativar' : 'ativar') + ''"/>
                </td>
                <td>
                    <botao-editar [icone]="true" [objectId]="usuario.id" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
